.c-cart {
  visibility: hidden;
  position: fixed;
  background-color: $color-white;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.16);
  z-index: 5;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100vw);
  transition:
    transform 0.4s ease-out,
    visibility 0.4s ease-out;
  overflow-x: hidden;
  overflow-y: auto;

  @media (min-width: $grid-breakpoints-md) {
    width: 550px;
  }

  &--open {
    transform: translateX(0);
    visibility: visible;
  }
}

.c-cart__backdrop {
  &--open {
    z-index: 4;
    background: rgba(0, 0, 0, 0.24);
    width: 100vw;
    height: 100vh;
    opacity: 1;
    position: fixed;
  }
}

.c-cart__container {
  padding: 1.25rem 0.75rem;

  @media (min-width: $grid-breakpoints-md) {
    padding: 1.25rem 2.5rem;
  }
}

.c-cart__header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1.25rem;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  .c-cart__header-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .c-cart__header-content {
    flex: 1;
    font-size: 2.5rem;

    button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;

      svg {
        transition: background 0.3s ease-in-out 0s;

        &:hover {
          color: $color-pink-hover;
        }
      }
    }
  }
}

.c-cart__empty {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .c-cart__empty-icons {
    font-size: 2.5rem;
    margin: 0 1.25rem;
  }

  .c-cart__empty-content {
    h4 {
      font-weight: 600;
      margin-bottom: 0.75rem;
    }

    p {
      line-height: 1.375rem;
    }

    i {
      color: $color-green;
    }
  }
}

.c-cart__bottom {
  .c-cart__bottom-total {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    b {
      font-weight: 600;
    }
  }
}
