.c-button {
  border: none;
  box-shadow: none;
  border-radius: 0.3rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  height: 2.75rem;
  transition: background 0.3s ease-in-out 0s;
  width: max-content;

  span {
    height: 1.25rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }

  &--primary {
    color: $color-white;
    background-color: $color-pink;

    &:hover {
      background: $color-pink-hover;
    }
  }

  &--secondary {
    color: $color-white;
    background-color: $color-green;

    &:hover {
      background: $color-green-hover;
    }
  }
}
