/** reset **/
@import 'reset';

/** settings **/
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

$color-pink:rgb(242, 49, 165);
$color-pink-hover:rgb(226, 14, 141);
$color-black:rgb(0, 0, 0);
$color-white:rgb(255, 255, 255);
$color-gray:#0e0e0e;
$color-green:rgb(60, 211, 193);

$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;

/** tools **/

/** generic **/

/** objects **/
@import 'objects';

/** components **/
@import '../components/Button/Button.scss';
@import '../components/Header/Header.scss';
@import '../components/HeaderContent/HeaderContent.scss';
@import '../components/Product/Product.scss';
@import '../components/Footer/Footer.scss';
@import '../components/ProductFeatured/ProductFeatured.scss';
@import '../components/Title/Title.scss';
@import '../components/Cart/Cart.scss';
@import '../components/ProductItem/ProductItem.scss';

/** containers **/

/** utility **/
